extends layout

block content
	header
		.title
			svg(xmlns="http://www.w3.org/2000/svg", version="1.1", viewbox="0 -125 100 150", preserveAspectRatio="xMinYMaxmeet")
				text Artographer
			h3 San Francisco
	.about
		h2 What is this site?
		p Maecenas mi libero, suscipit at eros a, vestibulum sagittis metus. Praesent vel arcu eget magna imperdiet tincidunt a eu eros. Sed hendrerit risus venenatis risus pharetra consectetur. Nunc pellentesque tellus eget lacus laoreet ultrices. Morbi aliquam turpis sed tortor pulvinar, in iaculis lectus luctus. Donec molestie neque justo, eu suscipit lorem dignissim sit amet. Nam nec hendrerit lacus, at semper nibh. Aliquam ornare magna nibh, eget venenatis lectus gravida eget.
		p Pellentesque nec lacus lorem. Sed posuere risus urna, sit amet accumsan velit euismod quis. Sed pharetra imperdiet malesuada. Nullam interdum lorem neque, nec ultrices nibh elementum sit amet. Etiam luctus tellus purus. Sed at risus nec elit fermentum consectetur. Aliquam commodo eget arcu quis vulputate. Nulla eget libero fringilla, ultricies neque ac, varius sapien.
		p Cras consequat dui eget nulla feugiat euismod. Proin venenatis ornare dapibus. Fusce volutpat nisi erat, ut consectetur leo dictum a. Suspendisse ultrices nec nunc quis elementum. Nulla gravida elit lacus. Praesent elementum purus ac tellus malesuada, non tempus turpis imperdiet. Maecenas neque nisl, consequat quis ligula et, lacinia congue justo. Aliquam lacinia, felis id ultricies gravida, leo nulla mollis ex, vitae ornare felis sem nec justo. Nullam hendrerit augue arcu. Suspendisse mollis enim id arcu cursus finibus. Nulla mollis nibh et nisi euismod semper eget vitae lectus. Integer egestas dolor vel felis molestie interdum. Praesent convallis lacus et urna tristique dignissim. Integer sed orci consectetur elit varius vehicula.
	.events
		//- .eventList
		#map
