doctype html
html
	head
		title= title
		//- link(type="text/css", rel="stylesheet", href="https://fast.fonts.net/cssapi/7ee4457a-6a98-4eab-8454-83edd5734e58.css")
		link(rel='stylesheet', href='css/app.css')
	body
		block content
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDxYcbaNxFlJA19M9Q-vTu2Jy5oOC5WFI&callback=__initMap", async, deferred)
		script(src="js/index.js")
