doctype html
html
	head
		title= title
		link(type="text/css", rel="stylesheet", href="https://fast.fonts.net/cssapi/7ee4457a-6a98-4eab-8454-83edd5734e58.css")
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		svg(xmlns="http://www.w3.org/2000/svg", version="1.1")
			defs
				linearGradient(id="title", x1="0%", y1="0%", x2="0%", y2="100%")
					stop(offset="0%", style="stop-color: #FF6600; stop-opacity: 1")
					stop(offset="100%", style="stop-color: #FFF000; stop-opacity: 1")
		script(src="/javascripts/mapstyles.js")
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDxYcbaNxFlJA19M9Q-vTu2Jy5oOC5WFI&callback=__initMap", async, deferred)
		script(src="/javascripts/site.js")
