
*{
	/*border: 1px solid black;*/
	list-style-type:none;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	color: #fff;
}

html, body{
        height: 100%;
        margin: 0px;
        padding: 0px;
        scrolling:none;
        overflow:hidden;
      }
#map-canvas {
	height:100%;
	overflow-y:hidden;
	scrolling:none;
}

.head {
	position:absolute;
	top:0px;
	left:0px;
	margin-left:100px;
/*	margin-top:10px;
	margin-bottom:10px;
*/	font-weight:300;
	color:#333;
	height:5%;
	z-index:3;
	color: orange;
}

.head h1{
	z-index:3;	
}

.signin {
	display:inline-block;
	position:absolute;
	top:0;
	right:25px;
	z-index:1;
}
.signin li a{
	color:#333;

}
.mapper{
	z-index:1;
}

.container{
	background-color:#333;
	width: 400px;
	font-size:small;
	height:88%;
	overflow:auto;
	z-index: 2;
	position:absolute;
	/*top: 85px;
	left:0px;*/
	opacity: 0.9;
	/*margin-left:100px;*/
	padding-bottom:6%;
	padding-top:6%;
	/*background: linear-gradient(rgba(0,0,0,0.9),rgba(150,150,150,0.75));*/
}

.event_container{
	height:100px;
	margin-left:10px;
	margin-right:10px;
	padding-bottom:5px;
	padding-top:5px;
	border-bottom:1px solid #999;
}

.poster {
	max-height:100px;
	width:75px;
	float:right;
}
.event_info {
	height:60px;
	width:300px;
}
.event_info p {
	margin-top:-10px;
}

.description {
	margin-top:15px;
	height:0px;
	overflow:hidden;
}








