

*{
	/*border: 2px solid black;*/
	list-style-type:none;
	font-family: 'Alegreya Sans SC', sans-serif;
}

.head {
	margin-left:100px;
}

.signin {
	display:inline-block;
	float:right;
}

.container{
	background-color:#333;
	width: 450px;
	font-size:small;
	height:700px;
	overflow-y:scroll;
}

.event_container{
	height:200px;
	margin-left:20px;
	padding:25px;
}

.poster {
	max-height:125px;
	width:100px;
	float:right;
}
.event_info {
	height:75px;
	width:275px;
}
.event_info p {
	margin-top:-10px;
}

.description {
	margin-top:15px;
	height:60px;
	overflow:hidden;
}


