
*{
	/*border: 1px solid black;*/
	list-style-type:none;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	color: #fff;
	text-decoration: none;
}


/*------------NAV STYLING-------------*/
.toggle_btn {
	position:absolute;
	top:10px;
	right:25px;
	opacity:0.8;
	z-index: 3;
}

.toggle {
	display:none;
}

.toggle_container{
	background-color:rgba(200,200,200,0.8);
	width:150px;
	position:absolute;
	top:55px;
	right:25px;
	padding-bottom:10px;
	padding-right:5px;
	border-radius:6px;
	z-index: 3;
}
.right {
	float:right;
}

.signin {
	z-index:3;
}
.signin li a{
	color:#333;
	padding:4px;
}







/*------------MAP STYLING--------------*/
html, body{
        height: 100%;
        margin: 0px;
        padding: 0px;
        scrolling:none;
        overflow:hidden;
      }
#map-canvas {
	height:100%;
	overflow-y:hidden;
	scrolling:none;
}

.mapper{
	z-index:1;
}


/*-----------INDEX STYLING-------------*/


				/*--header--*/
.head {
	position:absolute;
	top:0px;
	left:0px;
	margin-left:100px;
/*	margin-top:10px;
	margin-bottom:10px;
*/	font-weight:300;
	color:#333;
	height:5%;
	z-index:3;
	color: orange;
}
.head a {
	color: orange;
}
.head h1 {
	z-index:3;	
}

		/*----end_header----*/


		/*----Event-list----*/
.container{
	background-color:#333;
	width: 400px;
	font-size:small;
	height:86%;
	overflow:auto;
	z-index: 2;
	position:absolute;
	/*top: 85px;
	left:0px;*/
	opacity: 0.9;
	padding-left:15px;
	padding-bottom:6%;
	padding-top:8%;
	/*background: linear-gradient(rgba(0,0,0,0.9),rgba(150,150,150,0.75));*/
}
.event_container{
	height:100px;
	margin-left:10px;
	margin-right:10px;
	padding-bottom:5px;
	padding-top:0px;
	border-bottom:1px solid #999;
}
.poster {
	max-height:100px;
	width:75px;
	float:right;
}
.event_info {
	height:60px;
	width:300px;
}
.event_info p {
	margin-top:-10px;
}
.description {
	margin-top:15px;
	height:0px;
	overflow:hidden;
}
	/*-----end_Event_list------*/





/*---------------SIGN UP PAGE-----------------*/

.signup{
	color:#333;
	margin-left:350px;
}

.signup_form{
	margin-left: 50px;
	margin-bottom:50px;
}

.signup_form label{
	color:#333;
	margin-left:50px;
}

.signup_form input{
	color:#333;
}

.signup_btn {
	background-color: orange;
	border:none;
	padding:5px;
}



/*------------SIGN IN PAGE -------------------*/

.new_user {
	color:#333;
}




/*-------------PROFILE PAGE--------------------*/

.signedin h3{
	color:#333;
}









